body.main{
    font-family: "Arial";
}

div.wrapper {
    width: 1200px;
    margin: auto;
}

nav.header {
    background-color:Black;
    padding: 10px;
}

nav a {
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 6px;
    border-right: 2px solid white
}

article {
    float:left;
    width: 60%;
    margin-top: 10px;
    margin-right: 18px;
}

table.main {
    min-width: 150px;
    border:1px solid black;
    border-collapse: collapse;
}

td {
    padding: 25px;
    border: 1px solid black;

}

td.groen {
    background-color:#99ff99;
}

td.blauw {
    background-color: #99efff;
}